* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero__section {
  background-image: url(images/heroSectionBackground.png);
  background-position: center;
  background-size: cover;
  color: white;
  min-height: 60vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  height: 60px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar__menu_container {
  display: flex;
  gap: 20px;
}

.user__icon {
  display: none;
  height: 30px;
  width: 30px;
  color: rgb(228, 82, 82);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.hero__section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(60vh - 60px);
  gap: 30px;
}

.hero__section_img {
  width: 285px;
  /* height: auto; its a default value */
}

.hero__section_title {
  text-align: center;
  font-size: 37px;
  /* the text align wouldnot matter but if screen size is smaller it would make an important one */
}

.hero__section_input_container {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 40%;
}

.input_container_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.input_container_2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.fa-location-dot {
  color: rgb(242, 95, 95);
}

.fa-magnifying-glass {
  color: black;
}

/* .input_container_divider {
  color: rgb(68, 68, 68);
  font-size: 20px;
  padding: 0%;
} */

.input_container_location,
.input_container_search {
  padding: 5px;
  border: none;
  outline: none;
}

.input_container_location {
  width: 90%;
  border-right: 2px solid rgb(185, 185, 185);
}

.input_container_search {
  width: 90%;
}

@media only screen and (max-width: 720px) {
  .link {
    display: none;
  }
  .user__icon {
    display: flex;
  }
  .navbar {
    padding: 16px;
  }
  .hero__section {
    min-height: 70vh;
  }

  .hero__section_container {
    height: calc(70vh-60px);
  }

  .hero__section_input_container {
    background-color: transparent;
    flex-direction: column;
    width: 80%;
  }

  .input_container_1 {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    gap: 5px;
  }
  .input_container_2 {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    gap: 5px;
  }
  .input_container_location,
  .input_container_search {
    border-radius: 10px;
  }
  .input_container_location {
    width: 85%;
    border: none;
  }
  .input_container_search {
    width: 85%;
  }
}
